@import 'setup';

// #FF6699; pink

body{
   
}
.bodyWrapper{
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.bodyImage{
    background: url(../images/concert.jpg) fixed;
    background-size: cover;
}
h1{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
}
p{
    font-family: 'Roboto', sans-serif;
}

.mainWrapper{
    width:85%;
    margin:0 auto;
}

header .headerMain{
	background:url(../images/mainHeaderImage3.jpg);
	background-size: cover;
	height:100vh;
	width:100%;
    padding-top:20px;
    background-position: 0 52%;
}

nav{
    position:fixed;
    width: 100%;
    transition: 1s all;
    text-transform: uppercase;
    font-size: 18px;
    z-index: 999;
    height:18vh;
    display: inline-block;
    // background:rgba(0, 0, 0, 0.9);
    background: transparent;
    top:0;
}


.logo{
    display:inline-block;
    width: 13%;
    margin-left:3%;
    position:relative;
    top:27px;
    left:33px;

}

// Sticky nav

.colour-change{
    background: black;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
.appear{
    opacity: 1;
}

// Header Center Sectionart

.headerCenter{
    width:100%;
    display: inline-block;
    margin:0 auto;
    h1{
        font-size: 2.8rem;
        padding-left: 33%;
        margin: 0;
        padding-right: 28%;
        padding-top: 5%;
        font-weight: 900;
        letter-spacing: 4.5px; 
    }
    p{
        display: inline-block;
        font-size: 1.1rem;
        letter-spacing: 2.2px;
        padding-left: 33%;
    }
}

.formSection{
    position: relative;
    top: 41%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 28vh;
}

form{
    position: relative;
    top: 18%;
    left: 17%;
}

input[type=text] {
    background: #b2b2b2;
    color: black;
    text-transform: uppercase;
    border: 2px solid black;
    letter-spacing: 2;
    font-size: 1.2rem;
    display: inline-block;
    padding:20px 70px;
    text-align: center;
    position: relative;
	margin-left:15%;
    width:30%;
}
input[type=submit] {
    background: #b2b2b2;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2;
    font-size: 0.8rem;
    display: inline-block;
    padding: 24px 0px;
    text-align: center;
    position: relative;
    width: 9%;
    top: -2px;
    left: -4px;
    box-shadow: none;
     border: 2px solid black;
}
input[type=submit]:hover {
    background:  #29deb5;
}

.ui-menu-item{
    list-style: none;
    background: white;
    color:black;
    width:27%;
    margin-right: 20px;
    margin-left:0;
    padding-left:20px;
}

.gallerySearch{
	width:100%;
	height:70vh;
    background:#e5e5e5;

}

// End of header
// Lastest Album
.lastestTitle:hover > h1 {
    color: #FF6699;
    transition: 1s all;
}

.lastestTitle{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color:#b2b2b2;
    text-transform: uppercase;
    margin-top:5%;
    margin-bottom: 5%;
    width:100%;
}

.lastest{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    flex-direction:row;
    width:100%;
    height:60vh;  
    margin-bottom: 10%;  
}
.lastestBox{
    width:calc(33.33% - 15px);
    margin-right:15px;
    img{
        width:100%;
        height:60vh;
    }
}
.link:hover{
    background: black;
     transition: 1s all;
}


.info-box:hover > h1 {
    color: black;
     transition: 1s all;
}

.info-box:hover > p {
    color: black;
     transition: 1s all;
}


.info{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    flex-direction:row;
    width:100%;
    padding-bottom:50px;

    p{
        font-family: 'Raleway', sans-serif;
        font-size: .8rem;
        line-height: 2;
        padding:93px;
        color:white;
        letter-spacing: 2px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

.info-box{
    width: 40%;
    height:70vh;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background:rgba(0,0,0,0.9);

}
.info-one:hover{
    background:#FF6699;
    transition: 1s all;
	

}

.info-two{
    background: rgba(225, 225, 225, 0.9);
    color:black;
}
.info-two:hover{
    background: #29deb5;
    transition: 1s all;

}



// Artist section

.wholeArtistContainer{
    height:100%;
    width:100%;
}
.artistHeader{
    width:100%;
    height:70vh;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    margin-top:5%;    
}
.artistImages{
    background: url(../images/dcf.jpg) no-repeat;
    background-size:cover;
    height:100%;
    width: calc(65% - 20px);
    margin-right: 20px;
}
.artistName{
    width:35%;
    background: black;
    height: 100%;
    color:#b2b2b2;
    font-size: 2rem;
    text-align: center;
    padding-top:10%;
    h1{
        margin:0;
    }
}

.artistName:hover > h1 {
    color: #FF6699;
}

<<<<<<< HEAD
// Artist section
.wholeArtistContainer{
  display: none;
=======

.sectionTitle{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color:#b2b2b2;
    text-transform: uppercase;
    margin-top:5%;
    margin-bottom: 5%;

}

.leftTitle{
    width:35%;
    h1{
        margin:0;
    }
}

.leftTitle:hover > h1 {
    color: #FF6699;
}

.rightTitle{
    width:65%;
    h1{
        margin:0;
    }
}
.rightTitle:hover > h1 {
    color: #FF6699;
>>>>>>> 9628ec7072f2208988f9c588271f6a2770eabfed
}

.artistSectionTwo, .artistSectionThree{
	display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    width:100%;
    height:70vh;
}

.artistLeftContainer{
    background: rgba(0, 0, 0, 0.85);
    width: calc(35% - 20px);
    margin-right: 20px;

}
.artistRightContainer{
    background: rgba(0, 0, 0, 0.85);
    width:65%;
}

// video 
.videoTitle{
    width:100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color:#b2b2b2;
    text-transform: uppercase;
    margin-top:5%;
    margin-bottom: 5%;
    h1{
        margin:0;
    }
}
.videoTitle:hover > h1 {
    color: #FF6699;
}

.artistSectionFour{
    width:100;
    height:80vh;
    background: rgba(0, 0, 0, 0.85);
}

// End of Artist Four Section
// start of Flickity Section

.gallery{
    width:100%;
    height:70vh;
}


.flickity-viewport{
    // height:80vh;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}


// flickity
.flick1{
    background: url(../images/image1.jpg) no-repeat;
    background-size:cover;
    height:100%;

}
.flick2{
   background: url(../images/image2.jpg) center no-repeat;
   background-size: cover;
   background-position: 0 0%;
}
.flick3{
   background: url(../images/image3.jpg) no-repeat;
   background-size: cover;
   
}
.flick4{
   background: url(../images/image4.jpg) center;
   background-size: cover;
     background-position: 0 0%;
}
.flick5{
   background: url(../images/image5.jpg)no-repeat;
   background-size: cover;
   height:100%;
}


.gallery-cell {
  width: 100%;
  height:80vh;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

// End of flickity
// start of distributors

.distContainer{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    width:100%;
    height:40vh;
    background: rgba(0,0, 0, 0.9);
    margin:0;
}

.distBox{
    width:25%;
    padding-top: 95px;
    padding-left: 95px;
    img{
        width:40%;
    }
}

// end of distibutors
// start of footer1

.footer1{
    width:100%;
    height:100vh;
    height: 850px;
    position: relative;
    margin: 0;
    padding: 0;
}
.footer1Content{
   
    position: absolute;
    top:1%;
    left: 35%;
     -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    h1{
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: 300;
        color: white;
        text-align: left;
    }
    p{
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 300;
        color: white;
        text-align: left;
        padding-top: 30px;
        line-height: 2;
    }
}


.footerSquare{
    width: 600px;
    height: 600px;
    background: #323131;
    opacity: 0.8;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -25%;
    z-index: 4;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.footerSquare:hover{
    background-color:  #29deb5;
     transition: 1s all;
}
.footerSquare:hover{
    p{
        color:black;
        transition: 1s all;
    }
    h1{
        color:black;
        transition: 1s all;
    }
}

// end of footer1
// start of footer2 

.footer2{
    width:100%;
    height:100vh;
    background: black;
}

.footer2Container{
    width:70%;
    margin:0 auto;
    padding-left: 88px;
    padding-top: 30px;
}
.footer2Container h1{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    text-align: left;
    padding-left: 35%;
    padding-top: 8%;
    padding-bottom: 5%;

}
.socialMainParent{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
}

.social{
    width: 140px;
    height: 140px;
    background-color:  #29deb5;
    cursor: pointer;
    margin: 0 35px;
    display: block;
}

.socialParent1, .socialParent2, .socialParent3{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    li{
        margin-bottom:5px;
        list-style: none;
    }
}
.fa{
    font-size: 50px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 36%;
    margin-top: 31%;
    color:white;
}
.social:hover {
    background: #FF6699;
   
}

.socialParent1{
    position: relative;
    left: 45px;
}
.socialParent2{
    position: relative;
    // left: 45px;
}
.socialParent3{
    position: relative;
    right: 45px;
}


// RESPONSIVE WORK
@media all and (max-width: 1190px) { 
    .formSection {
        position:relative;
        top: 30%;
    }
    .info-box {
        width:50%;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .info-box p{
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
    }
    .socialParent1, .socialParent2, .socialParent3{
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg); 
        margin:0;
        padding:0;
    }
    .footer2Container{
        width:100%;
    }
}

@media all and (max-width: 940px) { 
    .headerCenter h1 {
        font-size: 2rem;
        padding-left: 33%;
        margin: 0;
        padding-right: 28%;
        padding-top: 5%;
        font-weight: 900;
        letter-spacing: 4.5px;
    }
    .lastestBox img {
        width: 100%;
        height: 50vh;
    }

}

@media all and (max-width: 740px) {
    .formSection {
        position:relative;
        top: 20%;
    }
    input[type=submit] {
        width: 19%;
    }
    h1{
        font-size: 1rem;
    }
}


@media all and (max-width: 480px) {
 
}
