article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

header .headerMain {
  background: url(../images/mainHeaderImage3.jpg);
  background-size: cover;
  height: 120vh;
  width: 100%;
  background-position: 0 78%;
  border-bottom: 3px solid #FF6699;
  margin-top: 5%;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: 1s all;
          transition: 1s all;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  background: black;
  z-index: 999;
  height: 28vh;
}

.logo {
  float: left;
  margin-right: 35%;
  margin-top: 2%;
  display: inline-block;
  width: 35%;
  padding: 10px;
  margin-left: 3%;
}

.colour-change {
  background: black;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.appear {
  opacity: 1;
}

form {
  position: relative;
  top: 415px;
}

input[type=text] {
  background: rgba(225, 225, 225, 0.5);
  color: black;
  text-transform: uppercase;
  border: 3px solid black;
  letter-spacing: 2;
  font-size: 1.2rem;
  border-radius: 10px;
  display: inline-block;
  padding: 20px 70px;
  text-align: center;
  position: relative;
  margin-left: 15%;
  width: 30%;
}

input[type=submit] {
  background: rgba(225, 225, 225, 0.5);
  color: black;
  text-transform: uppercase;
  border: 2px solid black;
  letter-spacing: 2;
  font-size: 0.8rem;
  border-radius: 10px;
  display: inline-block;
  padding: 20px 20px;
  text-align: center;
  position: relative;
  width: 15%;
}

button {
  background: rgba(225, 225, 225, 0.5);
  color: black;
  text-transform: uppercase;
  border: 2px solid black;
  letter-spacing: 2;
  font-size: 0.8rem;
  border-radius: 10px;
  display: inline-block;
  padding: 20px 20px;
  text-align: center;
  position: relative;
  width: 15%;
}

.gallerySearch {
  width: 100%;
  height: 40vh;
  background: #e5e5e5;
}

.fillerImages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 50vh;
  border-bottom: 3px solid #FF6699;
}

.filler-box {
  width: 25%;
  height: 50vh;
  background: #4c1e2d;
}

.filler-box img {
  width: 80%;
  position: relative;
  top: 25%;
  left: 29%;
  height: 35vh;
}

.filler1 {
  background: url(../images/entertainment.jpg);
  background-size: cover;
}

.filler2 {
  background: url(../images/recording.jpg);
  background-size: cover;
}

.filler3 {
  background: url(../images/publishing.jpg);
  background-size: cover;
}

.filler4 {
  background: url(../images/management.jpg);
  background-size: cover;
}

.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100vh;
}

.info h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.7rem;
  padding-left: 10%;
}

.info p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  padding-left: 10%;
  padding-right: 30%;
}

.info-box {
  width: 50%;
  height: 100vh;
}

.info-one {
  background: #e5e5e5;
}

.info-two {
  background: url(../images/infoImage.jpg);
  background-size: cover;
}

.gallery {
  width: 100%;
}

.fillerSecond {
  background: url(../images/crowd.jpg);
  background-size: cover;
  width: 100%;
  height: 60vh;
  background-position: 0 100%;
  position: relative;
  z-index: 1;
}

.fillerSecond h1 {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  color: white;
}

.flickity {
  border: 2px solid #000;
  border-radius: 100%;
  margin: 20px;
}

.mainMiddleContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.artistLeftContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.artistLeftContainer .artistImages {
  height: 100vh;
  background-size: cover;
}

.artistLeftContainer .artistBio {
  height: 100vh;
  background: #808080;
  width: 100%;
}

.artistContent {
  width: 40%;
  background: #b2b2b2;
}

.artistVideo {
  width: 100%;
  height: 70vh;
  background: #404040;
}

.blogNewsContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70vh;
}

.artistNews {
  width: 60%;
}

.artistBlog {
  width: 40%;
}

.artistNews {
  background: green;
}
